[submodule "javascript"]
	path = javascript
	url = "https://github.com/RubioHaro/POO-javascript.git"
[submodule "java"]
	path = java
	url = "https://github.com/RubioHaro/POO-java.git"
[submodule "Smalltalk"]
	path = smalltalk
	url = "https://github.com/RubioHaro/POO-Smalltalk.git"
